.body {
    margin: 0;
    height: 100vh;
    background: url(img/background.png) no-repeat;
    background-size: cover;
    width: 100%;
}
.eslogan {
    max-width: 384px;
}
.redes {
    max-width: 66px;
    margin-top: 21px;
}
body {
    height: 100vh;
    background: url(img/background.png) no-repeat;
    background-size: cover;
    width: 100%;
}
.hello-summer {
    max-width: 100%;
}
.logo {
    max-width: 100%;
}
